<html>
    <head>
        <title>Hidezik blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hidezik Blog</a></h1>
        </div>

        <div>
            <p>published: 09.04.2019, 15:50</p>
            <h2><a href="">My first post</a></h2>
            <p>こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: 2019/04/10, 15:50</p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ またよろしくお願いします！ </p>
        </div>
    </body>
</html>
